.button {
  display: flex;
  text-align: center;
  justify-content: center;
  border-radius: 10px;
  border: 0px;
  width: 100px;
  height: 45px;
  background-color: #61dafb;
  color: #282c34;
  font-size: 0.6em;
  font-weight: bold;
}
.button:disabled {
  background-color: #3a6e7d;
}
