.buttons {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  color: #282c34;
  background-color: #282c34;
  max-width: 430px;
  height: 160px;
  margin: 10px;
  border: #61dafb 2px solid;
  border-radius: 10px;
}
