.App {
  display: flex;

  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  background-color: #282c34;
  color: #282c34;
  height: 100vh;
  font-size: 50px;
  font-weight: bold;


}


.red{
  color: red;
  font-size: 1.6em;
}

