.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
  color: #61dafb;
  height: 100vh;
  font-size: 50px;
  font-weight: bold;


}

.container-counter{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  /*align-items: center;*/
  border: #61dafb 2px solid;
  border-radius: 10px;
  width: 400px;
  height: 300px;
}

.red{
  color: red;
  font-size: 1.6em;
}

